In [ ]:
import pandas as pd

In [21]:
s = pd.Series([1, 2, 5, 10, 15])
s

0     1
1     2
2     5
3    10
4    15
dtype: int64

In [22]:
d0 = pd.DataFrame([s, 2*s, s**2])
d0

   0  1   2    3    4
0  1  2   5   10   15
1  2  4  10   20   30
2  1  4  25  100  225

In [23]:
d1 = pd.DataFrame([[10, 3, 18, 1], [7, 14, 15, 3]])
d1

    0   1   2  3
0  10   3  18  1
1   7  14  15  3

In [24]:
d2 = pd.DataFrame(d1)
d2

    0   1   2  3
0  10   3  18  1
1   7  14  15  3